<?xml version="1.0"?>
<launch>
  <arg name="bt_file" default="$(find robin_behavior_tree)/bt_trees/test_tree.xml"/>
  <arg name="use_gui" default="false"/>

  <!-- Behavior Tree -->
  <node name="behavior_tree" pkg="robin_behavior_tree" type="behavior_tree_node" output="screen">
    <param name="frequency" value="10.0"/>
    <param name="bt_file" value="$(arg bt_file)"/>
  </node>

  <!-- Groot -->
  <node if="$(arg use_gui)"
        name="$(anon groot)" pkg="groot" type="Groot" output="screen"/>

</launch>
